@import url('./variables.css');


header {
    margin: 1em 0 0 1em;
}

.nuvem {
    display: flex;
    justify-content: space-between;
}


.top {
       border-top-right-radius: 45px;
        border-bottom-right-radius: 45px;
        border: 1px solid #D9D9D9;
        width: 50px;
        height: 50px;        
        background: #D9D9D9;
        margin-bottom: -1.5em;

}

.clound {
   
        border-top-right-radius: 91.5px;
        border-bottom-right-radius: 91.5px;
        border: 1px solid #D9D9D9;
        width: 100px;
        height: 100px;        
        background: #D9D9D9;
        
}


.top-2 {    
        border-top-left-radius: 45px;
        border-bottom-left-radius: 45px;
        border: 1px solid #D9D9D9;
        width: 50px;
        height: 50px;        
        background: #D9D9D9;
        margin-bottom: -1.5em;
        margin-top: 5em;
        margin-left: 3.1em;
        
        
}

.clound-2 {
   
    border-top-left-radius: 91.5px;
    border-bottom-left-radius: 91.5px;
    border: 1px solid #D9D9D9;
    width: 100px;
    height: 100px;        
    background: #D9D9D9;        
    
}

h1 {
    font-family: var(--font);
    color: var(--primary-color);
    color: #FFF;
    font-size: 40px;
    font-style: normal;
    font-weight: 734;
    line-height: normal;
    text-align: justify;

}

p {
   color: var(--second-color);
   font-family: var(--font);
   font-size: 20px;
   font-style: normal;
   font-weight: 734;
   line-height: normal;
   text-align: justify;
}



.btn-home {
    text-decoration: none;
    border-radius: 1em;
    background: var(--second-color);
    color:var(--primary-color);
    padding: 1em;
    text-align: center;
    width: 284px;
    height: 59px;
    border: 0;

    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 734;
    line-height: normal;
    margin-top: 2em;
    
    
}

span {
    color: var(--primary-color);
}

strong {
    color: #000;
}


main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.footer-img {
    margin-top: 4.8em;
}

