@import url('./variables.css');


header {
    margin: 1em 0 0 1em;
}


h1 {
    font-family: var(--font);
    color: var(--primary-color);
    color: #FFF;
    font-size: 40px;
    font-style: normal;
    font-weight: 734;
    line-height: normal;
    text-align: left;

}

p {
   color: var(--second-color);
   font-family: var(--font);
   font-size: 20px;
   font-style: normal;
   font-weight: 734;
   line-height: normal;
}

.btn-home {
    text-decoration: none;
    border-radius: 1em;
    background: var(--second-color);
    color:var(--primary-color);
    padding: 1em;
    text-align: center;
    width: 284px;
    height: 59px;
    border: 0;

    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 734;
    line-height: normal;
    
    
}

span {
    color: var(--primary-color);
}

strong {
    color: #000;
}


main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}