@import url('./variables.css');

header , main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.container{
    margin-top: 3rem;
}



form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5em;
    margin-top: 2rem;
}


.form-control-2 {  
  display: block;  
  border-radius: 50px;
  border: 1px solid #D9D9D9;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  width: 280px;
  height: 35px;
  flex-shrink: 0;
}

.coantiner-3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.coantiner-3 img {
    margin-left: -1.1em;
}

.footer-div {
    display: inline-flex;
    text-align: center;
    flex-direction: column;
}

.footer-div a {
    text-decoration: none;
    color: var(--primary-color);
    text-decoration: none;
    border-radius: 50px;
    background: var(--second-color);
    color:var(--primary-color);
    padding: 1em;
    text-align: center;
    width: 160px;
    height: 50px;
    border: 0;

    font-family: var(--font);
    font-size: 15px;
    font-style: normal;
    font-weight: 734;
    line-height: normal;
}

.footer-div span {
    color: var(--second-color);
}