@import url('./home.css');
@import url('./log-in.css');

body {
    background-color: var(--bg)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg:#8c5cb3;
    --font: 'Inter', sans-serif;
    --primary-color:#fff;
    --second-color:#1E1E1E;
}