@import url('/variables.css');

a {
    text-decoration: none;
    border-radius: 20px;
    background: #000;
    color:white;
    width: 284px;
    height: 59px;
    flex-shrink: 0;
}

img {
    width: 100%;
    
}